@media print, screen and (min-width:640px) {
    html {
        background-color: rgb(175, 255, 251);
        font-family: ヒラギノ角ゴシック;
    }
    h1 {
        border: 5px double #006992
    }
    .title_1 {
        display: flex;
        justify-content: center;
    }
    .title_2 {
        margin-top: 3em;
    }
    .title_3 {
        display: flex;
        justify-content: center;
    }
    .ul-font_1 {
        font-size: 2em;
        font-weight: bold;
    }
    .box_p {
        display: flex;
        
    }
    .box {
        width: 700px;
        height: 300px;
    }
    .pic_1 {
        margin-top: 5px;
        display: flex;
        justify-content: space-around;
    }
    .pic_2 {
        width: 22.0vw;
        height: 22.0vw;
    }
    .pic_3 {
        width: 64.0vw;
        height: 36.0vw;
    }
    .img_center {
        display: flex;
        justify-content: center;
    }
    .YT_icon {
        width: 134.5px;
        height: 93.5px;
    }
    .MY_icon {
        width: 20vw;
        height: 20vw;
    }
    .icon {
        background-image: url("../pic/icon.png");
        background-repeat: no-repeat;
        background-size: 50px;
        background-position: 10px;
    }
    .title_name {
        position: relative;
        top: 10px;
    }
    .title_color_w {
        color: white;
    }
}