@media print, screen and (max-width:640px) {
    html {
        background-color: rgb(255, 210, 126);
    }
    h1 {
        border: 5px double #926400
    }
    .title_1 {
        display: flex;
    }
    .title_2 {
        margin-top: 3em;
    }
    .title_3 {
        display: flex;
        justify-content: center;
    }
    .ul-font_1 {
        font-size: 5vw;
        font-weight: bold;
    }
    .pic_1 {
        justify-content: center;
    }
    .pic_2 {
        width: 50.0vw;
        height: 50.0vw;
    }
    .pic_3 {
        width: 64.0vw;
        height: 36.0vw;
    }
    .YT_icon {
        width: 134.5px;
        height: 93.5px;
    }
    .MY_icon {
        width: 35vw;
        height: 35vw;
    }
}