@media print, screen and (min-width:640px) {
    /* * {
        outline: 1px solid red;
    } */

    /* Link */
    a {
        transition: color 0.5s linear;
        text-decoration: none;
        color: black;
    }

    .header a:hover {
        color: white;
        background: orange;
    }

    .footer a:hover {
        color: white;
        background: orange;
    }

    .main-member-explain-other a:hover {
        color: white;
        background: gray;
        border-radius: 10px;
    }

    .main-sns a:hover img {
        opacity: 0.5;
    }

    /* Body */
    .body {
        font-family: ヒラギノ角ゴシック;
        background: rgb(201, 242, 255);
    }

    /* Header */
    .header-heading {
        text-align: center;
        border-bottom: 5px solid rgb(0, 77, 150);
    }

    .header-list-ul {
        display: flex;
        background: rgb(148, 251, 255);
        border: 2px solid rgb(0, 77, 150);
    }

    .header-list-ul-li {
        text-align: center;
        flex: 1;
        border: 2px solid rgb(0, 77, 150);
    }

    /* MainAside */
    .main-aside {
        display: flex;
    }

    /* Self */
    .main-self {
        background: white;
    }

    #main-self-title {
        padding-left: 10px;
        border-bottom: 2px solid rgb(0, 77, 150);
    }

    .main-self-photo {
        display: flex;
        margin: 8px;
    }

    .main-self-photo img {
        width: 13vw;
        height: 13vw;
    }

    .main-self-photo-explain {
        margin: 8px;
        padding: 8px;
        font-size: 1.45vw;
    }

    .main-self-twitter-movie {
        padding: 10px;
        display: flex;
        justify-content: center;
    }

    /* Member */
    .main-member {
        background: white;
        padding-bottom: 5px;
    }

    #main-member-title {
        padding-left: 10px;
        border-bottom: 2px solid rgb(0, 77, 150);
    }

    /* .main-member-photo {
        display: flex;
        justify-content: space-around;
    } */

    /* .main-member-photo img {
        margin: 1.5vw;
        flex: 1;
        width: 20vw;
        height: 20vw;
    } */

    /* ねころたん */
    .main-member-explain-nekorotan {
        display: flex;
        background: lightblue;
        margin: 5px;
        border-radius: 10px;
    }

    .main-member-explain-nekorotan-self-name {
        padding: 10px;
        margin-top: 0px;
        font-size: 1.7vw;
    }

    .main-member-explain-nekorotan-self-discription {
        padding: 10px;
        margin: auto;
        font-size: 1.2vw;
    }

    .main-member-explain-nekorotan-img img {
        width: 10vw;
        height: 10vw;
    }

    /* エクレァ */
    .main-member-explain-ekurea {
        display: flex;
        flex-direction: row-reverse;
        background: rgb(255, 198, 91);
        margin: 5px;
        border-radius: 10px;
    }

    .main-member-explain-ekurea-self-name {
        padding: 10px;
        margin-top: 0px;
        font-size: 1.7vw;
        text-align: right;
    }

    .main-member-explain-ekurea-self-discription {
        padding: 10px;
        margin: auto;
        font-size: 1.2vw;
    }

    .main-member-explain-ekurea-self-img img {
        width: 10vw;
        height: 10vw;
    }

    /* Other */
    .main-member-explain-other {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .main-member-explain-other-button {
        font-size: 1.7vw;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        background: lightgray;
        border-radius: 10px;
    }

    /* joinClan */
    .main-joinClan {
        background: white;
        padding-bottom: 5px;
    }

    #main-joinClan-title {
        padding-left: 10px;
        border-bottom: 2px solid rgb(0, 77, 150);
    }

    .main-joinClan-hunter-title {
        padding-left: 10px;
        margin: 10px;
        border-bottom: 2px solid red;
    }

    .main-joinClan-hunter-ul-li {
        font-size: 20px;
    }

    .main-joinClan-survivor-title {
        padding-left: 10px;
        margin: 10px;
        border-bottom: 2px solid lightblue;
    }

    .main-joinClan-survivor-ul-li {
        font-size: 20px;
    }

    /* SNS */
    .main-sns {
        background: white;
        margin-bottom: 20px;
    }

    #main-sns-title {
        padding-left: 10px;
        border-bottom: 2px solid rgb(0, 77, 150);
    }

    .main-sns-link {
        display: flex;
    }

    .main-sns-link-youtube {
        margin: 10px;
    }

    .main-sns-link-youtube img {
        width: 134.5px;
        height: 93.5px;
    }

    .main-sns-link-twitter {
        margin: 10px;
    }

    .main-sns-link-twitter img {
        width: 134.5px;
        height: 93.5px;
    }

    /* Aside */
    .aside-twitter {
        padding: 10px;
        margin: 10px;
        background: rgb(228, 249, 255);
    }

    .aside-twitter-header {
        text-align: center;
    }

    /* Footer */
    .footer-list-ul {
        display: flex;
        background: rgb(148, 251, 255);
        border: 2px solid rgb(0, 77, 150);
    }

    .footer-list-ul-li {
        text-align: center;
        flex: 1;
        border: 2px solid rgb(0, 77, 150);
    }
}