@media print, screen and (min-width:640px) {
    /* * {
        outline: 1px solid red;
    } */

    /* Link */
    a {
        transition: color 0.5s linear;
        text-decoration: none;
        color: black;
    }

    .header a:hover {
        color: white;
        background: orange;
        border-radius: 20px;
    }

    .main a:hover img {
        opacity: 0.5;
    }

    /* Body */
    .body {
        font-family: ヒラギノ角ゴシック;
        background: rgb(201, 242, 255);
    }

    /* Header */

    .header {
        display: flex;
        align-items: center;
    }

    .header-heading {
        flex: 1;
        margin-right: 10px;
        text-align: center;
        border-bottom: 5px solid rgb(0, 77, 150);
    }

    .header-list-ul {
        display: flex;
        background: rgb(148, 251, 255);
        border: 3px solid rgb(0, 77, 150);
        width: 150px;
        border-radius: 20px;
    }

    .header-list-ul-li {
        text-align: center;
        flex: 1;
    }

    .header-list-ul-li h2{
        margin: 0px;
    }

    /* Main */

    /* Member */
    #main-member-title {
        padding-left: 10px;
        border-bottom: 2px solid rgb(0, 77, 150);
    }

    .main-member {
        background: white;
        padding-bottom: 5px;
        margin: 0px 20px;
    }




    /* Copy Only */
/*
    .main-member-explain-bbbb {
        display: flex;
        background: rgb(221, 109, 255);
        margin: 20px 5px;
        flex-direction: row-reverse;
        border-top-left-radius: 70px;
        border-bottom-left-radius: 70px;
        border-top-right-radius: 70px;
        border-bottom-right-radius: 70px;
    }

    .main-member-explain-bbbb-self {
        flex: 1;
        text-align: right;
    }

    .main-member-explain-bbbb-self-name {
        padding: 10px;
        margin: 0px;
        font-size: 1.7vw;
    }

    .main-member-explain-bbbb-self-name b {
        border-bottom: 5px solid white;
    }

    .main-member-explain-bbbb-self-block {
        display: flex;
        justify-content: space-between;
        text-align: right;
        flex-direction: row-reverse;
    }

    .main-member-explain-bbbb-self-discription {
        flex: 3;
        font-size: 2vw;
        text-align: center;
        padding: 5px 0px;
        background: white;
        border-radius: 30px;
    }

    .main-member-explain-bbbb-self-sns {
        display: flex;
    }

    .main-member-explain-bbbb-self-sns-youtube img {
        width: 89.7px;
        height: 62.3px;
        padding: 5px;
        margin: 0px;
    }

    .main-member-explain-bbbb-self-sns-twitter img {
        width: 89.7px;
        height: 62.3px;
        padding: 5px;
        margin: 0px;
    }


    .main-member-explain-bbbb-img {
        padding: 10px;
        padding-bottom: 4px;
    }

    .main-member-explain-bbbb-img img {
        width: 10vw;
        height: 10vw;
    }
*/


    /* ねころたん */
    .main-member-explain-nekorotan {
        display: flex;
        background: lightblue;
        margin: 20px 5px;
        border-top-left-radius: 70px;
        border-bottom-left-radius: 70px;
    }

    .main-member-explain-nekorotan-self {
        flex: 1;
    }

    .main-member-explain-nekorotan-self-name {
        padding: 10px;
        margin: 0px;
        font-size: 1.7vw;
    }

    .main-member-explain-nekorotan-self-name b {
        border-bottom: 5px solid white;
    }

    .main-member-explain-nekorotan-self-block {
        display: flex;
        justify-content: space-between;
        text-align: right;
    }

    .main-member-explain-nekorotan-self-discription {
        flex: 3;
        font-size: 2vw;
        text-align: center;
        padding: 5px 0px;
        background: white;
        border-radius: 30px;
    }

    .main-member-explain-nekorotan-self-sns {
        display: flex;
    }

    .main-member-explain-nekorotan-self-sns-youtube img {
        width: 89.7px;
        height: 62.3px;
        padding: 5px;
        margin: 0px;
    }

    .main-member-explain-nekorotan-self-sns-twitter img {
        width: 89.7px;
        height: 62.3px;
        padding: 5px;
        margin: 0px;
    }


    .main-member-explain-nekorotan-img {
        padding: 10px;
        padding-bottom: 4px;
    }

    .main-member-explain-nekorotan-img img {
        width: 10vw;
        height: 10vw;
    }


    /* エクレァ */
    .main-member-explain-ekurea {
        display: flex;
        background: rgb(255, 198, 91);
        margin: 20px 5px;
        flex-direction: row-reverse;
        border-top-right-radius: 70px;
        border-bottom-right-radius: 70px;
    }

    .main-member-explain-ekurea-self {
        flex: 1;
        text-align: right;
    }

    .main-member-explain-ekurea-self-name {
        padding: 10px;
        margin: 0px;
        font-size: 1.7vw;
    }

    .main-member-explain-ekurea-self-name b {
        border-bottom: 5px solid white;
    }

    .main-member-explain-ekurea-self-block {
        display: flex;
        justify-content: space-between;
        text-align: right;
        flex-direction: row-reverse;
    }

    .main-member-explain-ekurea-self-discription {
        flex: 3;
        font-size: 2vw;
        text-align: center;
        padding: 5px 0px;
        background: white;
        border-radius: 30px;
    }

    .main-member-explain-ekurea-self-sns {
        display: flex;
    }

    .main-member-explain-ekurea-self-sns-twitter img {
        width: 89.7px;
        height: 62.3px;
        padding: 5px;
        margin: 0px;
    }


    .main-member-explain-ekurea-img {
        padding: 10px;
        padding-bottom: 4px;
    }

    .main-member-explain-ekurea-img img {
        width: 10vw;
        height: 10vw;
    }


    /* うの */
    .main-member-explain-uno {
        display: flex;
        background: rgb(221, 109, 255);
        margin: 20px 5px;
        border-top-left-radius: 70px;
        border-bottom-left-radius: 70px;
    }

    .main-member-explain-uno-self {
        flex: 1;
    }

    .main-member-explain-uno-self-name {
        padding: 10px;
        margin: 0px;
        font-size: 1.7vw;
    }

    .main-member-explain-uno-self-name b {
        border-bottom: 5px solid white;
    }

    .main-member-explain-uno-self-block {
        display: flex;
        justify-content: space-between;
    }

    .main-member-explain-uno-self-discription {
        flex: 3;
        font-size: 2vw;
        text-align: center;
        padding: 5px 0px;
        background: white;
        border-radius: 30px;
    }

    .main-member-explain-uno-self-sns {
        display: flex;
    }

    .main-member-explain-uno-self-sns-youtube img {
        width: 89.7px;
        height: 62.3px;
        padding: 5px;
        margin: 0px;
    }

    .main-member-explain-uno-self-sns-twitter img {
        width: 89.7px;
        height: 62.3px;
        padding: 5px;
        margin: 0px;
    }


    .main-member-explain-uno-img {
        padding: 10px;
        padding-bottom: 4px;
    }

    .main-member-explain-uno-img img {
        width: 10vw;
        height: 10vw;
    }

    /* ごりもっち */
    .main-member-explain-gorimotti {
        display: flex;
        background: rgb(236, 235, 130);
        margin: 20px 5px;
        flex-direction: row-reverse;
        border-top-right-radius: 70px;
        border-bottom-right-radius: 70px;
    }

    .main-member-explain-gorimotti-self {
        flex: 1;
        text-align: right;
    }

    .main-member-explain-gorimotti-self-name {
        padding: 10px;
        margin: 0px;
        font-size: 1.7vw;
    }

    .main-member-explain-gorimotti-self-name b {
        border-bottom: 5px solid white;
    }

    .main-member-explain-gorimotti-self-block {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .main-member-explain-gorimotti-self-discription {
        flex: 3;
        font-size: 2vw;
        text-align: center;
        padding: 5px 0px;
        background: white;
        border-radius: 30px;
    }

    .main-member-explain-gorimotti-self-sns {
        display: flex;
    }

    .main-member-explain-gorimotti-self-sns-twitter img {
        width: 89.7px;
        height: 62.3px;
        padding: 5px;
        margin: 0px;
    }

    .main-member-explain-gorimotti-img {
        padding: 10px;
        padding-bottom: 4px;
    }

    .main-member-explain-gorimotti-img img {
        width: 10vw;
        height: 10vw;
    }


    /* なちた */
    .main-member-explain-natita {
        display: flex;
        background: rgb(255, 109, 109);
        margin: 20px 5px;
        border-top-left-radius: 70px;
        border-bottom-left-radius: 70px;
    }

    .main-member-explain-natita-self {
        flex: 1;
    }

    .main-member-explain-natita-self-name {
        padding: 10px;
        margin: 0px;
        font-size: 1.7vw;
    }

    .main-member-explain-natita-self-name b {
        border-bottom: 5px solid white;
    }

    .main-member-explain-natita-self-block {
        display: flex;
        justify-content: space-between;
    }

    .main-member-explain-natita-self-discription {
        flex: 3;
        font-size: 2vw;
        text-align: center;
        padding: 5px 0px;
        background: white;
        border-radius: 30px;
    }

    .main-member-explain-natita-self-sns {
        display: flex;
    }

    .main-member-explain-natita-self-sns-youtube img {
        width: 89.7px;
        height: 62.3px;
        padding: 5px;
        margin: 0px;
    }

    .main-member-explain-natita-self-sns-twitter img {
        width: 89.7px;
        height: 62.3px;
        padding: 5px;
        margin: 0px;
    }


    .main-member-explain-natita-img {
        padding: 10px;
        padding-bottom: 4px;
    }

    .main-member-explain-natita-img img {
        width: 10vw;
        height: 10vw;
    }


    /* コン */
    .main-member-explain-kon {
        display: flex;
        background: rgb(255, 187, 109);
        margin: 20px 5px;
        flex-direction: row-reverse;
        border-top-right-radius: 70px;
        border-bottom-right-radius: 70px;
    }

    .main-member-explain-kon-self {
        flex: 1;
        text-align: right;
    }

    .main-member-explain-kon-self-name {
        padding: 10px;
        margin: 0px;
        font-size: 1.7vw;
    }

    .main-member-explain-kon-self-name b {
        border-bottom: 5px solid white;
    }

    .main-member-explain-kon-self-block {
        display: flex;
        justify-content: space-between;
        text-align: right;
        flex-direction: row-reverse;
    }

    .main-member-explain-kon-self-discription {
        flex: 3;
        font-size: 2vw;
        text-align: center;
        padding: 5px 0px;
        background: white;
        border-radius: 30px;
    }

    .main-member-explain-kon-self-sns {
        display: flex;
    }

    .main-member-explain-kon-self-sns-youtube img {
        width: 89.7px;
        height: 62.3px;
        padding: 5px;
        margin: 0px;
    }

    .main-member-explain-kon-self-sns-twitter img {
        width: 89.7px;
        height: 62.3px;
        padding: 5px;
        margin: 0px;
    }


    .main-member-explain-kon-img {
        padding: 10px;
        padding-bottom: 4px;
    }

    .main-member-explain-kon-img img {
        width: 10vw;
        height: 10vw;
    }


    /* ゾムニキ */
    .main-member-explain-zomuniki {
        display: flex;
        background: rgb(221, 109, 255);
        margin: 20px 5px;
        border-top-left-radius: 70px;
        border-bottom-left-radius: 70px;
    }

    .main-member-explain-zomuniki-self {
        flex: 1;
    }

    .main-member-explain-zomuniki-self-name {
        padding: 10px;
        margin: 0px;
        font-size: 1.7vw;
    }

    .main-member-explain-zomuniki-self-name b {
        border-bottom: 5px solid white;
    }

    .main-member-explain-zomuniki-self-block {
        display: flex;
        justify-content: space-between;
        text-align: right;
    }

    .main-member-explain-zomuniki-self-discription {
        flex: 3;
        font-size: 2vw;
        text-align: center;
        padding: 5px 0px;
        background: white;
        border-radius: 30px;
    }

    .main-member-explain-zomuniki-self-sns {
        display: flex;
    }

    .main-member-explain-zomuniki-self-sns-twitter img {
        width: 89.7px;
        height: 62.3px;
        padding: 5px;
        margin: 0px;
    }


    .main-member-explain-zomuniki-img {
        padding: 10px;
        padding-bottom: 4px;
    }

    .main-member-explain-zomuniki-img img {
        width: 10vw;
        height: 10vw;
    }


    /* はせじゅん */
    .main-member-explain-hasejun {
        display: flex;
        background: rgb(75, 93, 255);
        margin: 20px 5px;
        flex-direction: row-reverse;
        border-top-right-radius: 70px;
        border-bottom-right-radius: 70px;
    }

    .main-member-explain-hasejun-self {
        flex: 1;
        text-align: right;
    }

    .main-member-explain-hasejun-self-name {
        padding: 10px;
        margin: 0px;
        font-size: 1.7vw;
    }

    .main-member-explain-hasejun-self-name b {
        border-bottom: 5px solid white;
    }

    .main-member-explain-hasejun-self-block {
        display: flex;
        justify-content: space-between;
        text-align: right;
        flex-direction: row-reverse;
    }

    .main-member-explain-hasejun-self-discription {
        flex: 3;
        font-size: 2vw;
        text-align: center;
        padding: 5px 0px;
        background: white;
        border-radius: 30px;
    }

    .main-member-explain-hasejun-self-sns {
        display: flex;
    }

    .main-member-explain-hasejun-self-sns-youtube img {
        width: 89.7px;
        height: 62.3px;
        padding: 5px;
        margin: 0px;
    }

    .main-member-explain-hasejun-self-sns-twitter img {
        width: 89.7px;
        height: 62.3px;
        padding: 5px;
        margin: 0px;
    }


    .main-member-explain-hasejun-img {
        padding: 10px;
        padding-bottom: 4px;
    }

    .main-member-explain-hasejun-img img {
        width: 10vw;
        height: 10vw;
    }


    /* のあ */
    .main-member-explain-noa {
        display: flex;
        background: rgb(230, 147, 255);
        margin: 20px 5px;
        border-top-left-radius: 70px;
        border-bottom-left-radius: 70px;
    }

    .main-member-explain-noa-self {
        flex: 1;
    }

    .main-member-explain-noa-self-name {
        padding: 10px;
        margin: 0px;
        font-size: 1.7vw;
    }

    .main-member-explain-noa-self-name b {
        border-bottom: 5px solid white;
    }

    .main-member-explain-noa-self-block {
        display: flex;
        justify-content: space-between;
        text-align: right;
    }

    .main-member-explain-noa-self-discription {
        flex: 3;
        font-size: 2vw;
        text-align: center;
        padding: 5px 0px;
        background: white;
        border-radius: 30px;
    }

    .main-member-explain-noa-self-sns {
        display: flex;
    }

    .main-member-explain-noa-self-sns-twitter img {
        width: 89.7px;
        height: 62.3px;
        padding: 5px;
        margin: 0px;
    }


    .main-member-explain-noa-img {
        padding: 10px;
        padding-bottom: 4px;
    }

    .main-member-explain-noa-img img {
        width: 10vw;
        height: 10vw;
    }


    /* はい */
    .main-member-explain-hy {
        display: flex;
        background: rgb(85, 240, 240);
        margin: 20px 5px;
        flex-direction: row-reverse;
        border-top-right-radius: 70px;
        border-bottom-right-radius: 70px;
    }

    .main-member-explain-hy-self {
        flex: 1;
        text-align: right;
    }

    .main-member-explain-hy-self-name {
        padding: 10px;
        margin: 0px;
        font-size: 1.7vw;
    }

    .main-member-explain-hy-self-name b {
        border-bottom: 5px solid white;
    }

    .main-member-explain-hy-self-block {
        display: flex;
        justify-content: space-between;
        text-align: right;
        flex-direction: row-reverse;
    }

    .main-member-explain-hy-self-discription {
        flex: 3;
        font-size: 2vw;
        text-align: center;
        padding: 5px 0px;
        background: white;
        border-radius: 30px;
    }

    .main-member-explain-hy-self-sns {
        display: flex;
    }

    .main-member-explain-hy-self-sns-youtube img {
        width: 89.7px;
        height: 62.3px;
        padding: 5px;
        margin: 0px;
    }

    .main-member-explain-hy-self-sns-twitter img {
        width: 89.7px;
        height: 62.3px;
        padding: 5px;
        margin: 0px;
    }


    .main-member-explain-hy-img {
        padding: 10px;
        padding-bottom: 4px;
    }

    .main-member-explain-hy-img img {
        width: 10vw;
        height: 10vw;
    }


    /* よっしー */
    .main-member-explain-yossi {
        display: flex;
        background: lightgreen;
        margin: 20px 5px;
        border-top-left-radius: 70px;
        border-bottom-left-radius: 70px;
    }

    .main-member-explain-yossi-self {
        flex: 1;
    }

    .main-member-explain-yossi-self-name {
        padding: 10px;
        margin: 0px;
        font-size: 1.7vw;
    }

    .main-member-explain-yossi-self-name b {
        border-bottom: 5px solid white;
    }

    .main-member-explain-yossi-self-block {
        display: flex;
        justify-content: space-between;
        text-align: right;
    }

    .main-member-explain-yossi-self-discription {
        flex: 3;
        font-size: 2vw;
        text-align: center;
        padding: 5px 0px;
        background: white;
        border-radius: 30px;
    }

    .main-member-explain-yossi-self-sns {
        display: flex;
    }

    .main-member-explain-yossi-self-sns-twitter img {
        width: 89.7px;
        height: 62.3px;
        padding: 5px;
        margin: 0px;
    }


    .main-member-explain-yossi-img {
        padding: 10px;
        padding-bottom: 4px;
    }

    .main-member-explain-yossi-img img {
        width: 10vw;
        height: 10vw;
    }


    /* にさ */
    .main-member-explain-nisa {
        display: flex;
        background: rgb(255, 224, 157);
        margin: 20px 5px;
        flex-direction: row-reverse;
        border-top-right-radius: 70px;
        border-bottom-right-radius: 70px;
    }

    .main-member-explain-nisa-self {
        flex: 1;
        text-align: right;
    }

    .main-member-explain-nisa-self-name {
        padding: 10px;
        margin: 0px;
        font-size: 1.7vw;
    }

    .main-member-explain-nisa-self-name b {
        border-bottom: 5px solid white;
    }

    .main-member-explain-nisa-self-block {
        display: flex;
        justify-content: space-between;
        text-align: right;
        flex-direction: row-reverse;
    }

    .main-member-explain-nisa-self-discription {
        flex: 3;
        font-size: 2vw;
        text-align: center;
        padding: 5px 0px;
        background: white;
        border-radius: 30px;
    }

    .main-member-explain-nisa-self-sns {
        display: flex;
    }

    .main-member-explain-nisa-self-sns-youtube img {
        width: 89.7px;
        height: 62.3px;
        padding: 5px;
        margin: 0px;
    }

    .main-member-explain-nisa-self-sns-twitter img {
        width: 89.7px;
        height: 62.3px;
        padding: 5px;
        margin: 0px;
    }


    .main-member-explain-nisa-img {
        padding: 10px;
        padding-bottom: 4px;
    }

    .main-member-explain-nisa-img img {
        width: 10vw;
        height: 10vw;
    }


    /* ましゃ */
    .main-member-explain-masya {
        display: flex;
        background: rgb(119, 219, 149);
        margin: 20px 5px;
        border-top-left-radius: 70px;
        border-bottom-left-radius: 70px;
    }

    .main-member-explain-masya-self {
        flex: 1;
    }

    .main-member-explain-masya-self-name {
        padding: 10px;
        margin: 0px;
        font-size: 1.7vw;
    }

    .main-member-explain-masya-self-name b {
        border-bottom: 5px solid white;
    }

    .main-member-explain-masya-self-block {
        display: flex;
        justify-content: space-between;
        text-align: right;
    }

    .main-member-explain-masya-self-discription {
        flex: 3;
        font-size: 2vw;
        text-align: center;
        padding: 5px 0px;
        background: white;
        border-radius: 30px;
    }

    .main-member-explain-masya-self-sns {
        display: flex;
    }


    .main-member-explain-masya-self-sns-twitter img {
        width: 89.7px;
        height: 62.3px;
        padding: 5px;
        margin: 0px;
    }


    .main-member-explain-masya-img {
        padding: 10px;
        padding-bottom: 4px;
    }

    .main-member-explain-masya-img img {
        width: 10vw;
        height: 10vw;
    }


    /* なるちぇ */
    .main-member-explain-naruse {
        display: flex;
        background: rgb(247, 255, 133);
        margin: 20px 5px;
        flex-direction: row-reverse;
        border-top-right-radius: 70px;
        border-bottom-right-radius: 70px;
    }

    .main-member-explain-naruse-self {
        flex: 1;
        text-align: right;
    }

    .main-member-explain-naruse-self-name {
        padding: 10px;
        margin: 0px;
        font-size: 1.7vw;
    }

    .main-member-explain-naruse-self-name b {
        border-bottom: 5px solid white;
    }

    .main-member-explain-naruse-self-block {
        display: flex;
        justify-content: space-between;
        text-align: right;
        flex-direction: row-reverse;
    }

    .main-member-explain-naruse-self-discription {
        flex: 3;
        font-size: 2vw;
        text-align: center;
        padding: 5px 0px;
        background: white;
        border-radius: 30px;
    }

    .main-member-explain-naruse-self-sns {
        display: flex;
    }

    .main-member-explain-naruse-self-sns-twitter img {
        width: 89.7px;
        height: 62.3px;
        padding: 5px;
        margin: 0px;
    }

    .main-member-explain-naruse-img {
        padding: 10px;
        padding-bottom: 4px;
    }

    .main-member-explain-naruse-img img {
        width: 10vw;
        height: 10vw;
    }


    /* ぽむ */
    .main-member-explain-pomu {
        display: flex;
        background: pink;
        margin: 20px 5px;
        border-top-left-radius: 70px;
        border-bottom-left-radius: 70px;
    }
    
    .main-member-explain-pomu-self {
        flex: 1;
    }
    
    .main-member-explain-pomu-self-name {
        padding: 10px;
        margin: 0px;
        font-size: 1.7vw;
    }
    
    .main-member-explain-pomu-self-name b {
        border-bottom: 5px solid white;
    }
    
    .main-member-explain-pomu-self-block {
        display: flex;
        justify-content: space-between;
        text-align: right;
    }
    
    .main-member-explain-pomu-self-discription {
        flex: 3;
        font-size: 2vw;
        text-align: center;
        padding: 5px 0px;
        background: white;
        border-radius: 30px;
    }
    
    .main-member-explain-pomu-self-sns {
        display: flex;
    }
    
    .main-member-explain-pomu-self-sns-youtube img {
        width: 89.7px;
        height: 62.3px;
        padding: 5px;
        margin: 0px;
    }
    
    .main-member-explain-pomu-self-sns-twitter img {
        width: 89.7px;
        height: 62.3px;
        padding: 5px;
        margin: 0px;
    }
    
    .main-member-explain-pomu-img {
        padding: 10px;
        padding-bottom: 4px;
    }
    
    .main-member-explain-pomu-img img {
        width: 10vw;
        height: 10vw;
    }


    /* Manjyu */
    .main-member-explain-manjyu {
        display: flex;
        background: rgb(255, 83, 189);
        margin: 20px 5px;
        flex-direction: row-reverse;
        border-top-right-radius: 70px;
        border-bottom-right-radius: 70px;
    }
    
    .main-member-explain-manjyu-self {
        flex: 1;
        text-align: right;
    }
    
    .main-member-explain-manjyu-self-name {
        padding: 10px;
        margin: 0px;
        font-size: 1.7vw;
    }
    
    .main-member-explain-manjyu-self-name b {
        border-bottom: 5px solid white;
    }
    
    .main-member-explain-manjyu-self-block {
        display: flex;
        justify-content: space-between;
        text-align: right;
        flex-direction: row-reverse;
    }
    
    .main-member-explain-manjyu-self-discription {
        flex: 3;
        font-size: 2vw;
        text-align: center;
        padding: 5px 0px;
        background: white;
        border-radius: 30px;
    }
    
    .main-member-explain-manjyu-self-sns {
        display: flex;
    }
    
    .main-member-explain-manjyu-self-sns-youtube img {
        width: 89.7px;
        height: 62.3px;
        padding: 5px;
        margin: 0px;
    }
    
    .main-member-explain-manjyu-self-sns-twitter img {
        width: 89.7px;
        height: 62.3px;
        padding: 5px;
        margin: 0px;
    }
    
    .main-member-explain-manjyu-img {
        padding: 10px;
        padding-bottom: 4px;
    }
    
    .main-member-explain-manjyu-img img {
        width: 10vw;
        height: 10vw;
    }


    /* 森のくまさん */
    .main-member-explain-kumasan {
        display: flex;
        background: rgb(202, 202, 202);
        margin: 20px 5px;
        border-top-left-radius: 70px;
        border-bottom-left-radius: 70px;
    }
    
    .main-member-explain-kumasan-self {
        flex: 1;
    }
    
    .main-member-explain-kumasan-self-name {
        padding: 10px;
        margin: 0px;
        font-size: 1.7vw;
    }
    
    .main-member-explain-kumasan-self-name b {
        border-bottom: 5px solid white;
    }
    
    .main-member-explain-kumasan-self-block {
        display: flex;
        justify-content: space-between;
        text-align: right;
    }
    
    .main-member-explain-kumasan-self-discription {
        flex: 3;
        font-size: 2vw;
        text-align: center;
        padding: 5px 0px;
        background: white;
        border-radius: 30px;
    }
    
    .main-member-explain-kumasan-self-sns {
        display: flex;
    }
    
    .main-member-explain-kumasan-self-sns-twitter img {
        width: 89.7px;
        height: 62.3px;
        padding: 5px;
        margin: 0px;
    }
    
    .main-member-explain-kumasan-img {
        padding: 10px;
        padding-bottom: 4px;
    }
    
    .main-member-explain-kumasan-img img {
        width: 10vw;
        height: 10vw;
    }


    /* Raim */
    .main-member-explain-raim {
        display: flex;
        background: rgb(149, 255, 149);
        margin: 20px 5px;
        flex-direction: row-reverse;
        border-top-right-radius: 70px;
        border-bottom-right-radius: 70px;
    }
    
    .main-member-explain-raim-self {
        flex: 1;
        text-align: right;
    }
    
    .main-member-explain-raim-self-name {
        padding: 10px;
        margin: 0px;
        font-size: 1.7vw;
    }
    
    .main-member-explain-raim-self-name b {
        border-bottom: 5px solid white;
    }
    
    .main-member-explain-raim-self-block {
        display: flex;
        justify-content: space-between;
        text-align: right;
        flex-direction: row-reverse;
    }
    
    .main-member-explain-raim-self-discription {
        flex: 3;
        font-size: 2vw;
        text-align: center;
        padding: 5px 0px;
        background: white;
        border-radius: 30px;
    }
    
    .main-member-explain-raim-self-sns {
        display: flex;
    }

    .main-member-explain-raim-self-sns-twitter img {
        width: 89.7px;
        height: 62.3px;
        padding: 5px;
        margin: 0px;
    }
    
    .main-member-explain-raim-img {
        padding: 10px;
        padding-bottom: 4px;
    }
    
    .main-member-explain-raim-img img {
        width: 10vw;
        height: 10vw;
    }


    /* まろにー */
    .main-member-explain-maroni {
        display: flex;
        background: rgb(192, 84, 255);
        margin: 20px 5px;
        border-top-left-radius: 70px;
        border-bottom-left-radius: 70px;
    }
    
    .main-member-explain-maroni-self {
        flex: 1;
    }
    
    .main-member-explain-maroni-self-name {
        padding: 10px;
        margin: 0px;
        font-size: 1.7vw;
    }
    
    .main-member-explain-maroni-self-name b {
        border-bottom: 5px solid white;
    }
    
    .main-member-explain-maroni-self-block {
        display: flex;
        justify-content: space-between;
        text-align: right;
    }
    
    .main-member-explain-maroni-self-discription {
        flex: 3;
        font-size: 2vw;
        text-align: center;
        padding: 5px 0px;
        background: white;
        border-radius: 30px;
    }
    
    .main-member-explain-maroni-self-sns {
        display: flex;
    }
    
    .main-member-explain-maroni-self-sns-twitter img {
        width: 89.7px;
        height: 62.3px;
        padding: 5px;
        margin: 0px;
    }
    
    .main-member-explain-maroni-img {
        padding: 10px;
        padding-bottom: 4px;
    }
    
    .main-member-explain-maroni-img img {
        width: 10vw;
        height: 10vw;
    }


    /* とリっぴー */
    .main-member-explain-torippi {
        display: flex;
        background: rgb(255, 100, 100);
        margin: 20px 5px;
        flex-direction: row-reverse;
        border-top-right-radius: 70px;
        border-bottom-right-radius: 70px;
    }
    
    .main-member-explain-torippi-self {
        flex: 1;
        text-align: right;
    }
    
    .main-member-explain-torippi-self-name {
        padding: 10px;
        margin: 0px;
        font-size: 1.7vw;
    }
    
    .main-member-explain-torippi-self-name b {
        border-bottom: 5px solid white;
    }
    
    .main-member-explain-torippi-self-block {
        display: flex;
        justify-content: space-between;
        text-align: right;
        flex-direction: row-reverse;
    }
    
    .main-member-explain-torippi-self-discription {
        flex: 3;
        font-size: 2vw;
        text-align: center;
        padding: 5px 0px;
        background: white;
        border-radius: 30px;
    }
    
    .main-member-explain-torippi-self-sns {
        display: flex;
    }
    
    .main-member-explain-torippi-self-sns-twitter img {
        width: 89.7px;
        height: 62.3px;
        padding: 5px;
        margin: 0px;
    }
    
    .main-member-explain-torippi-img {
        padding: 10px;
        padding-bottom: 4px;
    }
    
    .main-member-explain-torippi-img img {
        width: 10vw;
        height: 10vw;
    }
}